  <%- include("./Modules/head.ejs") %>
  <body>
    <%- include('./Modules/Header.ejs') %>
    <main>
      <section class="sectionData">
        <h1 class="center">Login</h1>
        <h3 class="center">Digite os seus dados credenciais</h3>
        <p class="center">
          Você ainda não possui cadastro?
          <a href="/Account/Register">Registre-se já! </a>
        </p>
        <%- include('./Modules/msgs.ejs') %>
        <form action="/Account/Login" method="post" class="forms">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

          <div class="input">
            <label for="email">Email:</label>
            <input type="text" value="" name="email" />
          </div>

          <div class="input">
            <label for="password">Senha:</label>
            <input type="password" value="" name="password" />
          </div>

          <button class="bnt green">Logar</button>
        </form>
      </section>
    </main>

    <%- include("./Modules/footer.ejs") %>
  </body>
</html>
