<%- include("./Modules/head.ejs") %>

  <body>
    <%- include('./Modules/Header.ejs') %>
    <main>
      <section class="sectionData">
        <h2 class="center">Transações registradas</h2>
        <h3 class="center">Aqui estão todos as transações realizadas</h3>
        <%- include('./Modules/msgs.ejs') %>
        <table>
          <tr>
            <th>Destinatário</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Apagar</th>
          </tr>
          <% transac.forEach(element => {  %>
            <tr>
              <td class="center"> <%= element.receiver; %></td>
              <td class="center"> <%= element.date.toLocaleDateString("PT-br"); %></td>
              <td class="center"> <%= element.value; %></td>
              <td class="center"><a href="/Transac/Erase/<%=element._id%>"><button class="bnt red table">Apagar</button></a></td>
            </tr>
          <% }); %>
        </table>
        <div class="buttonsPanel">
          <a href="/Transac/Register"><button class="bnt green">Registrar nova transação</button></a>
          <a href="/Transac/Report"><button class="bnt primary">Gerar relatório</button></a>

        </div>
      </section>
    </main>

    <%- include("./Modules/footer.ejs") %>
  </body>
</html>
