<%- include("./Modules/head.ejs") %>

  <body>
    <%- include('./Modules/Header.ejs') %>
    <main>
      <section class="sectionData">
        <h2 class="center">Funcionarios cadastrados</h2>
        <h3 class="center">Aqui estão todos os funcionarios que você cadastrou</h3>
        <%- include('./Modules/msgs.ejs') %>
        <table>
          <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Data de contratação</th>
            <th>Função</th>
            <th>Presença</th>
            <th>Faltas</th>
            <th>Editar</th>
            <th>Apagar</th>


          </tr>
          <% worker.forEach(element => {  %>
            <tr>
              <td class="center"> <%= element.Ename; %></td>
              <td class="center"> <%= element.surname; %></td>
              <td class="center"> <%= element.email; %></td>
              <td class="center"> <%= element.hiringDate.toLocaleDateString("PT-br"); %></td>
              <td class="center"> <%= element.role; %></td>
              <td class="center"> <%= element.presence; %></td>
              <td class="center"> <%= element.absence; %></td>
              <td class="center"><a href="/Workers/Edit/<%=element._id%>"><button class="bnt green table">Edit</button></a></td>
              <td class="center"><a href="/Workers/Erase/<%=element._id%>"><button class="bnt red table">Apagar</button></a></td>
            </tr>
          <% }); %>
        </table>

        <div class="buttonsPanel">
          <a href="/Workers/Register"><button class="bnt green">Registrar novo funcionario</button></a>
          <a href="/Workers/Report"><button class="bnt primary">Gerar relatório</button></a>
        </div>
        
      </section>
    </main>

    <%- include("./Modules/footer.ejs") %>
  </body>
</html>
