  <%- include("./Modules/head.ejs") %>
  <body>
    <%- include('./Modules/Header.ejs') %>
    <main>
      <section class="sectionData">
        <form action="/Account" method="post" class="forms">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <h2>Dados da conta</h2>
          <h3>Nome: <%= user.username %> </h3>
          <h3>Email: <%= user.email %> </h3>

          <button class="bnt red">Deslogar</button>
        </form>
      </section>
    </main>

    <%- include("./Modules/footer.ejs") %>
  </body>
</html>
